/Aclass.class
/Calculator.class
/CalendaObjectMain.class
/CalendarObject.class
/CalendarTest.class
/CalendatEx.class
/Lotto.class
/LottoT.class
/MainTest.class
/MoneyCount.class
/StandardObject.class
/StandardObjectMain.class
/StandardWeight.class
/StandardWeightTeacher.class
/StaticTest.class
/StaticTestMain.class
/VariableTest.class
/email.class
/hoho.class
