/ArraysTest.class
/CalendarTest.class
/EmailCheck.class
/Lotto.class
/MoneyCount.class
/MoneyCount1.class
/MoneyCount2.class
/RandomTest.class
/StandardWeight.class
/StringBufferTest.class
/StringTest.class
/StringTokenizerTest.class
/email.class
